.forecastWidgetSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: whitesmoke;
  width: 85%;
  max-width: 675px;
  min-height: 400px;
}

.forecastWidgetMore {
  width: 60%;
  height: 80%;
  min-height: 320px;
  max-width: 405px;
}