.loadingSection {
  position: absolute;
  top: 18vh;
  left: calc(50vw - 55px);
  z-index: 5;
}

.loadingBox {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBox svg path,
.loadingBox svg rect {
  fill: #65b6ee;
}